.profileBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}
.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profileImage {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #888;
}
.profileName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  font-size: large;
}

.profileTag {
  font-size: 16px;
  color: #888;
  margin-bottom: 5px;
}

.profileLocation {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}
.profileList {
  display: flex;
  border: 1px solid #888;
  border-radius: 0 0 10px 10px;
}

.profileListItem {
  border: 1px solid #888;
  background-color: #bebebe;
}

span {
  display: block;
  font-size: 16px;
  width: 96px;
}

span:first-child {
  color: black;
}

span:last-child {
  font-weight: bold;
  color: black;
}
